
{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="section-content padding-y bg">

    <div class="container">

        <!-- ============================ PRODUCT DETAIL ============================ -->

        <div class="card">

            <div class="row no-gutters">

                <!-- Product Image -->
                <aside class="col-md-6">

                    <article class="gallery-wrap">

                        <div class="img-big-wrap">

                            <a href="{{ single_product.images.url }}">
                                <img
                                    src="{{ single_product.images.url }}"
                                    alt="{{ single_product.product_name }}"
                                    class="img-fluid"
                                >
                            </a>

                        </div>

                    </article>

                </aside>


                <!-- Product Information -->
                <main class="col-md-6 border-left">

                    <form
                        action="{% url 'add_cart' single_product.id %}"
                        method="GET"
                    >

                        <article class="content-body">

                            <!-- Product Name -->
                            <h2 class="title">
                                {{ single_product.product_name }}
                            </h2>


                            <!-- Product Price -->
                            <div class="mb-3">

                                <var class="price h4">
                                    Rs. {{ single_product.price|floatformat:2 }}
                                </var>

                            </div>


                            <!-- Description -->
                            <p>
                                {{ single_product.description }}
                            </p>

                            <hr>


                            <!-- Color -->
                            <div class="row">

                                <div class="item-option-select">

                                    <h6>Choose Color</h6>

                                    <select
                                        name="color"
                                        class="form-control" required
                                    >
                                        <option value= "" disabled selected>Choose Color</option>
                                    {% for i in single_product.variation_set.all %}
                                        <option value="{{ i.variation_value }}">
                                        {{ i.variation_value }}
                                        </option>
                                    {% endfor %}
                                       

                                    </select>

                                </div>

                            </div>


                            <!-- Size -->
                            {% comment %} <div class="row mt-3">

                                <div class="item-option-select">

                                    <h6>Select Size</h6>

                                    <select
                                        name="size"
                                        class="form-control"
                                    >

                                        <option value="small">
                                            Small
                                        </option>

                                        <option value="medium">
                                            Medium
                                        </option>

                                        <option value="large">
                                            Large
                                        </option>

                                    </select>

                                </div>

                            </div> {% endcomment %}


                            <hr>


                            <!-- Stock / Cart -->
                            {% if single_product.stock <= 0 %}

                                <span class="badge badge-danger">
                                    Out of Stock
                                </span>

                            {% else %}

                                {% if in_cart %}

                                    <a
                                        href="{% url 'cart' %}"
                                        class="btn btn-success"
                                    >
                                        <span class="text">
                                            Added to Cart
                                        </span>

                                        <i class="fas fa-check"></i>
                                    </a>


                                    <a
                                        href="{% url 'cart' %}"
                                        class="btn btn-outline-primary"
                                    >
                                        <span class="text">
                                            View Cart
                                        </span>

                                        <i class="fas fa-eye"></i>
                                    </a>

                                {% else %}

                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        <span class="text">
                                            Add to Cart
                                        </span>

                                        <i class="fas fa-shopping-cart"></i>
                                    </button>

                                {% endif %}

                            {% endif %}

                        </article>

                    </form>

                </main>

            </div>

        </div>

        <!-- ============================ PRODUCT DETAIL END ============================ -->


        <br>


        <!-- ============================ CUSTOMER REVIEWS ============================ -->

        <div class="row">

            <div class="col-md-9">

                <header class="section-heading">

                    <h3>
                        Customer Reviews
                    </h3>

                </header>


                <!-- Review -->
                <article class="box mb-3">

                    <div class="icontext w-100">

                        <img
                            src="{% static 'images/avatars/avatar1.jpg' %}"
                            class="img-xs icon rounded-circle"
                            alt="Customer"
                        >

                        <div class="text">

                            <span class="date text-muted float-md-right">
                                24.04.2020
                            </span>

                            <h6 class="mb-1">
                                Mike John
                            </h6>

                        </div>

                    </div>


                    <div class="mt-3">

                        <p>
                            Dummy comment Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip.
                        </p>

                    </div>

                </article>

            </div>

        </div>

        <!-- ============================ CUSTOMER REVIEWS END ============================ -->

    </div>

</section>

<!-- ========================= SECTION CONTENT END ========================= -->

{% endblock %}

